*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;  
}

.banner {
    width: 100%;
    height: 300px;
    margin-bottom: 0;
    padding-top: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../imagens/background_page.png)
}

.banner h1 {
    color: #fff;
    font-size: 47px;
    font-weight: 500;
    line-height: 10px;
    padding-bottom: 30px;
    letter-spacing: -2px;
    text-transform: capitalize;
    margin-left: 35px;
}

section {
    margin-top: 10%;
    margin-block-end: 5%;

}

.cta {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.text-cta{
    padding-left: 5rem;
}

.text-cta h6{
    font-size: 17px;
	font-weight: 500;
	letter-spacing: .6px;
	margin-bottom: 14px;
}

.text-cta h4{
    font-size: 3.3rem;
	line-height: 1.2;
	letter-spacing: .6rem;
	margin-bottom: 30px;
}

.text-cta a{
    background-color: #38bdf2;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 5px;
    color: #fff;
   font-size: 1rem;
   cursor: pointer;
   transition: 0.3s;
}

.text-cta a:hover {
    background-color: #111;
    transform: scaleY(1.2);
}

.Container-r{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    
}

.Container-r img:hover{
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
    transition: 0.3s;

}

.r img{
    width: 250px;
    height: auto;
}

.r{
    background-color: #fff;
    color: #000;
    font-style: normal;
}

.btn-buy {
    background: #38bdf2;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    transition: .2s;}

.btn-buy :hover{
    background-color: #111;
      transform: scaleY(1.2);

}

.last-text{
    text-align: center;
    background-color: #38bdf2;
    color: #fff;
}