@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* Main*/
.foto-quem {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.foto-quem > img {
    width: 320px;
    height: 190.5;
}

.text {
    color: #ffffff;
    text-align: justify;
    padding: 30px;
}

.text > h1 {
    text-align: center;
    padding-bottom: 40px;
}

.text > p {
    text-indent: 4em;
}
