@charset "UTF-8";

main {
    background-color: #38bdf2;
}

#servicos_cabecalho1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: #ffffff;
    padding-top: 50px;
}

#servicos_cabecalho2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    font-weight: bold;
    color: #ffffff;
}   

} /*não sei que bug é esse*/

.fotos_servicos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /*para versão mobile*/
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}


.fotos_servicos > img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    border: 15px solid #ffffff;
    padding: auto;
}

.Container-r {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;  
    padding-bottom: 2%;
}

.fotos_servicos > h3 {
    color: #ffffff;
}

section {
    padding: 2%;
}


