@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/*
body {
    overflow-x: hidden;
}
*/
/*Header*/

header {
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo {
    width: 150px;
    height: 150px;
    margin-left: 20px;
    padding: 35px;
}

#burguer {
    display: block;
    text-align: center;
    color: #38bdf2;
    cursor: pointer;
    margin-top: 50px;
    margin-right: 40px;
    margin-left: auto;
}

ul#itens {
    display: none;
    text-align: right;
    font-weight: bold;
    list-style-type: none;
    width: 100vw;
    margin: auto;
}

#menu {
    display: flex;
    align-items: center;
    width: 96.5vw;
}

nav > div >  ul > li > a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #38bdf2;
    padding: 10px;
    border-radius: 10px;
}

nav > div >  ul > li > a:hover {
    background-color: #aedff2;
    color: #fff
}

/* Main*/

 section#fundo {
    position: relative;
    background-image: url("../imagens/Fundo1Home.png");
    background-size: cover;
    background-position: fixed; 
}

.imagem1 {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.imagem1 > img {
    width: 280px;
    height: 245px;
}

.texto1 {
    color: #fff;
    text-align: justify;
    padding-bottom: 30px;
}

.texto1 > h1 {
    font-size: 2em;;
    text-align: center;
}

.texto1 > p {
    font-size: 1.2em;
    text-align: justify;
    margin-left: 8%;
    padding: 15px;
    width: 80vw;
}

.imagem2, .imagem3, .imagem4 {
    width: 96.5vw;
    padding: 20px;
    text-align: center;
    color: #38bdf2;
    font-weight: bold;
}

.imagem2 > img {
    width: 250px;
    height: 250px;
}

.imagem3 > img {
    width: 250px;
    height: 250px;
}

.imagem4 > img {
    width: 250px;
    height: 250px;
}

section#servicos {
    margin: 50px 0px 50px 0px
}


/*Footer*/

footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.rodape1, .rodape2, .rodape3 {
    text-align: center;
    padding: 20px;
    color: #38bdf2;
}